<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', simple_pages_about_path %></li>
    <li><%= link_to 'Gigs', simple_pages_gigs_path %></li>
    <li><%= link_to 'Music', simple_pages_gigs_path %></li>
    <li><%= link_to 'Shop', simple_pages_shop_path %></li>
    <li><%= link_to 'Contact', simple_pages_contact_path %></li>
  </ul>
</nav>